<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: green;
    }
    #everyone{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        max-width: 800px;
    }

    #images{
        width: 250px;
        height: 250px;
    }
   #new{
    display: block;
    text-align: center;
   }
</style>
<body >
    <a href="/pokemon/new" id="new"><button>Add New Pokemon</button></a>
    <div id="everyone">
        <% for (let i = 0; i < beginning.length; i++) {%>
        <form action="/pokemon/<%= i %>" method="get">
            <button type="submit" id="buttons">
                    <img src="<%= beginning[i].img %>" id="images">
            </button>
        </form>
        <style></style>
        <% } %>
        
    </div>
</body>
</html>