<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-image: url("http://img.pokemondb.net/artwork/pikachu.jpg");
        background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;

    }
    form{
        background-color: black;
        text-align: center;
    }
    #fill{
        display: flex;
    }
    p{
        color: wheat;
    }

</style>
<body>
    <form action="/pokemon/create" method="post">
        <p>ADD New Pokemon</p>
       <div id="fill">
        <div><p>img</p>
            <input type="text" placeholder="image" name="img" value="https://www.shutterstock.com/image-vector/pikachu-vector-art-illustration-on-600w-2163481879.jpg">
        </div>
        <div><p>Name</p>
            <input type="text" placeholder="name" name="name">
        </div>

        <div><p>types</p>
            <input type="text" placeholder="types" name="type"><br>
            <input type="text" placeholder="types" name="type">
        </div>

        <div><p>Stats</p>
            <input type="text" placeholder="stats" name="stats"><br>
            <input type="text" placeholder="hp" name="stats"><br>
            <input type="text" placeholder="defense" name="stats">
        </div>

        <div><p>Finish</p>
            <input type="submit" placeholder="submit"></div>
        </div>
    </form>
</body>
</html>